<% if (products.length > 0) { %>
    <div class='itemList'>
        <% products.forEach( (prod) => { %>
            <div class='itemCard'>
                <div class='itemTitle'>
                    <span><%=prod.title%></span>
                </div>
                <div class='itemPicture'>
                    <img src=<%=prod.thumbnail%> width='200px' height='200px'  alt=<%=prod.title%>/>
                </div>
                <div class='itemDetail'>
                    <p>Price: <%=prod.price%></p>
                </div>
            </div>
        <%}) %>
    </div>
<% } else { %>  
    <h2>There are no products!</h2>
<% } %>