<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main class="container">
        <section>
            <h2>Add a Product</h2>
            <form action="/" method="POST">
                <div class="form-group">
                    Name: <input type="text" name="title" class="form-control">
                    Price: <input type="text" name="price" class="form-control">
                    Image URL: <input type="text" name="thumbnail" class="form-control">
                    <button class="btn btn-primary">Send</button>
                </div>
            </form>
        </section>
        <section>
            <h2>Edit Existing Product</h2>
            <form action="/api/products?_method=PUT" method="POST">
                <div class="form-group">
                    ID: <input type="text" name="id" class="form-control">
                    Name: <input type="text" name="title" class="form-control">
                    Price: <input type="text" name="price" class="form-control">
                    Image URL: <input type="text" name="thumbnail" class="form-control">
                    <button class="btn btn-primary">Send</button>
                </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer'); %> 
</body>
</html>