<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main class="container">
        <section>
            <%- include('../partials/productList', {products: productList}); %>                                               
        </section>
    </main>
    <%- include('../partials/footer'); %> 
</body>
</html>