<!DOCTYPE html>
<html lang="es">
{{> head }}
<body>
    {{> header }}
    <main class="container">
        {{> indexForms }}                                 
    </main>
    {{> footer }}
</body>
</html>