<!DOCTYPE html>
<html lang="es">
{{> head }}
<body>
    {{> header }}
    <main class="container">
        <section>
            {{{body}}}                                            
        </section>
    </main>
    {{> footer }}
</body>
</html>