@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}

.container h1 {
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    overflow: hidden;
    font-size: 3rem;
    line-height: 3rem; 
}

.container h2 {
    text-align: center;
    color: midnightblue;
    font: bold 2rem "Open Sans", sans-serif;
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 3rem;
}

section{
    padding: 1rem 0;
}

.itemList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.itemTable img {
    width:100px;
}

.itemTable td {
    height: auto;
    vertical-align: middle;
}

.itemCard {
    border-radius: 16px;
    background: lavender;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 250px;
}

.itemTitle {
    display: flex;
    flex-flow: column;
    font-size: 1.2rem;
    align-items: center;
}

.itemPicture {
    background: ghostwhite;
    margin: auto;
    display: flex;
    justify-content: center;
}

.itemDetail {
    font-size: 1.25rem;
    padding: 8px 0;
    background: ghostwhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#successfulAddWrapper{
    transition:max-height 0.5s ease-out;
    max-height:0;
    overflow:hidden;
}

#unsuccessfulAddWrapper{
    transition:max-height 0.5s ease-out;
    max-height:0;
    overflow:hidden;
}

#successfulEditWrapper{
    transition:max-height 0.5s ease-out;
    max-height:0;
    overflow:hidden;
}

#unsuccessfulEditWrapper{
    transition:max-height 0.5s ease-out;
    max-height:0;
    overflow:hidden;
}

.chatContainer{
    max-width: 500px;
    max-height: inherit;
    position: fixed;
    left: auto;
    right: 10;
    bottom: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#chatWidget{
    border-radius: 10px;
    border-bottom-right-radius: 0;
    background-color: floralwhite;
    padding: 10px;
    border-style: solid;
    border-color: antiquewhite;
}

#messages span {
    color: brown;
}

.chatToggleBtn{
    width: fit-content;
    box-shadow: 2px 2px 5px grey;
}